#data_dashboard
{
    position: relative;
    width: 95%;
    height: 800px;
    overflow: auto;
    margin: auto;
}

#report
{
    position: relative;
    top: 20px;
    width: 90%;
    height: 50px;
    margin: auto;
    background-color: rgb(98, 98, 98);
    color: aliceblue !important;
    padding: 10px;
    border-radius: 15px;
}

.nav-link
{
    color: aliceblue !important;
}

#loading_graph
{
    position: relative;
    width: 450px;
    left: 40%;
    top: 40px;
    margin: auto;
}

#stats_dir
{
    position: relative;
    top: 90px;
    width: 90%;
    display: flex;
    margin: auto;
}

#table_dir_stat
{
    position: relative;
    width: 30%;
}

#title_dashboard
{
    position: relative;
    width: 400px;
    height: 30px;
    padding: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(86, 86, 87);
    margin: auto;
    border-radius:10px;
}

.hr_ds
{
    position: relative;
    width: 90%;
    top: 10px;
    height: 7px !important;
    margin: auto;
}
#ind
{
    position: relative;
    width: 90%;
    top: 20px;
    margin: auto;
    color: black;
    background-color: rgb(228, 217, 49);
}

#graph_1
{
    position: relative;
    width: 90%;
    height: 500px;
    top: 40px;
    margin: auto;
    overflow-y: auto;
}

#stats
{
    position: relative;
    display: flex;
    top: 50px;
    width: 90%;
    margin: auto;
}

#table_stats
{
    position: relative;
    width: 35%;
    top: 50px;
    font-size: 10px;
}

#graph_doc_reg
{
    position: relative;
    width: 60%;
    top: -50px;
    left: 20px;
}

#graph_doc_stat
{
    position: relative;
    width: 60%;
    top: -50px;
    left: 20px;
}
